.bubble {
  background-image:url('../images/bubble.png');
  background-repeat:no-repeat;
  width:477px;
  display:block;
  float:left;
  margin-top:30px;
}

.facebook {
  background-image:url('../images/facebook.png');
  background-repeat:no-repeat;
  height:42px;
  width:42px;
  display:block;
  float:left;
  opacity:.5;
}
.facebook:hover {
  background-image:url('../images/facebook.png');
  background-repeat:no-repeat;
  height:42px;
  width:42px;
  display:block;
  float:left;
  opacity:.8;
}
.twitter {
  background-image:url('../images/twitter.png');
  background-repeat:no-repeat;
  height:42px;
  width:42px;
  display:block;
  float:left;
  opacity:.5;
}
.twitter:hover {
  background-image:url('../images/twitter.png');
  background-repeat:no-repeat;
  height:42px;
  width:42px;
  display:block;
  float:left;
  opacity:.8;
}
.linkedin {
  background-image:url('../images/linkedIn.png');

  background-repeat:no-repeat;
  height:42px;
  width:42px;
  display:block;
  float:left;
  opacity:.5;
}
.linkedin:hover {
  background-image:url('../images/linkedIn.png');

  background-repeat:no-repeat;
  height:42px;
  width:42px;
  display:block;
  float:left;
  opacity:.8;
}
.youtube {
  background-image:url('../images/youtube.png');
  background-repeat:no-repeat;
  height:42px;
  width:42px;
  display:block;
  float:left;
  opacity:.5;
}
.youtube:hover {
  background-image:url('../images/youtube.png');
  background-repeat:no-repeat;
  height:42px;
  width:42px;
  display:block;
  float:left;
  opacity:.8;
}