body {
  background-color: #f7f7f7;
}

hr {
  margin-top: 80px;
  margin-bottom: 30px;
}

p {
  margin: 0;
}

.red-mast {
  background-color: #ed5835;
  height:375px;
  width: 100%;
}

.skinny-container {
  height:100%;
  float: left;
}

.container-760 {
  margin: 0 auto;
  max-width: 760px;
}

.grey-mast {
  background-color: #efefef;
  height:216px;
  width: 100%;
}

.grey-container {
  margin: 0 auto;
  max-width: 760px;
}

.spacelord {
  float: right;
  margin-top:-63px;
}



.logo {
  float: left;
  margin-top: 45px;
}

.bubble-box {
  margin: 0 auto;
  max-width: 760px;
}

.bubble {
  background-image: url('../images/bubble.png');
  background-image: none,url('../images/bubble.svg'), url('../images/bubble.png');
  background-repeat: no-repeat;
  width: 477px;
  display: block;
  float: left;
  margin-top: 30px;
}

.bubble-r {
  float: right;
  width: 20px;
  height: 100px;
  background: blue;
}

.bubble h1 {
  padding-top:12px;
  padding-right:22px;
  padding-left: 32px;
  font-size: 24px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  line-height: 30px;
  color:#999999;
}

.signup {
  color:white;
  text-decoration: none;
  font-size: 20px;
}

.signupalign {
  text-shadow: 0px 1px 2px #b37e15;
  color:white;
  font-size: 22px;
  line-height: 64px;
  text-align: center;
}

.signupbutton {
  background: #ffd072;
  border-radius: 3px;
  border: 0px;
  height: 64px;
  width: 100%!important;
  margin-right: 15px;
  margin-top: 20px;
  margin-bottom: 60px;
  float: left;
  -webkit-box-shadow: 0px 5px 0px rgba(236, 183, 77, 1);
  -moz-box-shadow:    0px 5px 0px rgba(236, 183, 77, 1);
  box-shadow:         0px 5px 0px rgba(236, 183, 77, 1);
  text-shadow: 0px 1px 2px #b37e15;
  color: white;
  font-size: 22px;
  line-height: 64px;
  text-align: center;
}

.signupbuttona:hover {
  text-decoration: none;
}

/* Custom container */
.container {
  margin: 0 auto;
  max-width: 760px;
}
.container > hr {
  margin: 60px 0;
}

/* Main marketing message and sign up button */
.signup {
  text-align: left;
  color:#333333;
}

.launch {
  font-size: 24px;
  font-weight: 200;
  line-height: 30px;
  margin-top: 40px;
  color:#333333;
  text-align: center;
}

.launch p {
  margin:0px;
}

.renter {
  margin-top: 20px;
  float: left;
}

.about {
  float: right;
  width: 371px;
  margin-top: 30px;
}

.about h3 {
  font-size: 14px;
  font-weight: 600;
  line-height: 10px;
}

.about p {
  font-size: 12px;
}

.footer {
  height: 216px;
  margin-top: 80px;
  background-color: #f7f7f7;
}

.footer p {
  font-size: 12px;
  color: #b3b3b3;
  line-height: 16px;
}

ol, ul {
  list-style: none;
}

ul.social li {
  display: inline-block;
}

.social {
  float: right;
}

.copy {
  float: left;
}

.copy p {
  margin-bottom: 25px;
  margin-top: 5px;
}

.arrow {
  background-image: url('../images/Arrow.png');
  background-image: none,url('../images/Arrow.svg'), url('../images/Arrow.png');
  background-repeat: no-repeat;
  display: block;
  float: left;
  opacity: .5;
  width: 30px;
  height: 17px;
}

.facebook {
  background-image: url('../images/facebook.png');
  background-image: none,url('../images/facebook.svg'), url('../images/facebook.png');
  background-repeat: no-repeat;
  height: 42px;
  width: 42px;
  display: block;
  float: left;
  opacity: .5;
}

.facebook:hover {
  background-image: url('../images/facebook.png');
  background-image: none,url('../images/facebook.svg'), url('../images/facebook.png');
  background-repeat: no-repeat;
  height: 42px;
  width: 42px;
  display: block;
  float: left;
  opacity: .8;
}

.twitter {
  background-image: url('../images/twitter.png');
  background-image: none,url('../images/twitter.svg'), url('../images/twitter.png');
  background-repeat: no-repeat;
  height: 42px;
  width: 42px;
  display: block;
  float: left;
  opacity: .5;
}

.twitter:hover {
  background-image: url('../images/twitter.png');
  background-image: none,url('../images/twitter.svg'), url('../images/twitter.png');
  background-repeat: no-repeat;
  height: 42px;
  width: 42px;
  display: block;
  float: left;
  opacity: .8;
}

.linkedin {
  background-image: url('../images/linkedIn.png');
  background-image: none,url('../images/linkedIn.svg'), url('../images/linkedIn.png');
  background-repeat: no-repeat;
  height: 42px;
  width: 42px;
  display: block;
  float: left;
  opacity: .5;
}

.linkedin:hover {
  background-image: url('../images/linkedIn.png');
  background-image: none,url('../images/linkedIn.svg'), url('../images/linkedIn.png');
  background-repeat: no-repeat;
  height: 42px;
  width: 42px;
  display: block;
  float: left;
  opacity: .8;
}

.youtube {
  background-image: url('../images/youtube.png');
  background-image: none,url('../images/youtube.svg'), url('../images/youtube.png');
  background-repeat: no-repeat;
  height: 42px;
  width: 42px;
  display: block;
  float: left;
  opacity: .5;
}

.youtube:hover {
  background-image: url('../images/youtube.png');
  background-image: none,url('../images/youtube.svg'), url('../images/youtube.png');
  background-repeat: no-repeat;
  height: 42px;
  width: 42px;
  display: block;
  float: left;
  opacity: .8;
}

.skinny {
  visibility: hidden;
}

.wide {
  visibility: visible;
}

.crew {
  display: none;
  margin-top: 100px;
  margin-left: -10px;
}

.SL {
  display: block;
}

.field {
    height: 56px!important;
    position: relative!important;
    -webkit-border-radius: 3px!important;
    -moz-border-radius: 3px!important;
    border-radius: 3px!important;
    border: 0px solid white!important;
    padding-left: 20px!important;
    font-size: 24px!important;
    color:#cccccc!important;
    width: 100%!important;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2) inset!important;
    background: #eeeeee!important; /* Old browsers */
    -webkit-box-shadow: 0px 5px 0px rgba(211, 211, 211, 1)!important;
    -moz-box-shadow: 0px 5px 0px rgba(211, 211, 211, 1)!important;
    box-shadow: 0px 5px 0px rgba(211, 211, 211, 1)!important;
}

.styled-select-l select {
   background: transparent;
   font-size: 24px;
   color: #cccccc;
   border: 0;
   border-radius: 0;
   height: 56px;
   width: 100%;
   -webkit-appearance: none;
   padding-left: 18px;
   }

   .styled-select-r select {
   background: transparent;
   font-size: 24px;
   color: #cccccc;
   border: 0;
   border-radius: 0;
   height: 56px;
   width: 100%;
   -webkit-appearance: none;
   padding-left: 18px;
   }

.styled-select-l {
  width: 49%!important;
  height: 56px!important;
  overflow: hidden;
  font-size: 24px!important;
  color:#cccccc!important;
  -webkit-border-radius: 3px!important;
  -moz-border-radius: 3px!important;
  border-radius: 3px!important;
  border: 0px solid white!important;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2) inset!important;
  -webkit-box-shadow: 0px 5px 0px rgba(211, 211, 211, 1)!important;
  -moz-box-shadow: 0px 5px 0px rgba(211, 211, 211, 1)!important;
  box-shadow: 0px 5px 0px rgba(211, 211, 211, 1)!important;
  background: url(../images/Arrow.svg) no-repeat right #eee;
  float: left;
  margin-top: 10px;
}

.styled-select-r {
  width: 49%!important;
  height: 56px!important;
  overflow: hidden;
  font-size: 24px!important;
  color:#cccccc!important;
  -webkit-border-radius: 3px!important;
  -moz-border-radius: 3px!important;
  border-radius: 3px!important;
  border: 0px solid white!important;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2) inset!important;
  -webkit-box-shadow: 0px 5px 0px rgba(211, 211, 211, 1)!important;
  -moz-box-shadow: 0px 5px 0px rgba(211, 211, 211, 1)!important;
  box-shadow: 0px 5px 0px rgba(211, 211, 211, 1)!important;
  background: url(../images/Arrow.svg) no-repeat right #eee;
  float: right; 
  margin-top: 10px;
}

input.submit {
  margin: 0!important;
  padding: 0!important;
  border: none!important;
  color: blue!important;
  background-color: transparent!important;
  text-decoration: underline!important;
}

.emailbox {
  float: left;
  margin-top: 22px;
  width: 734px;
}

::-webkit-input-placeholder {
   color: #cccccc!important;
   padding-top: 5px;
}

:-moz-placeholder { /* Firefox 18- */
   color: #cccccc!important;
   padding-top: 5px;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #cccccc!important;
   padding-top: 5px;
}

:-ms-input-placeholder {
   color: #cccccc!important;
   padding-top: 5px;
}

.spacefinity {
  height: 75px;
  width: 295px;
}

select:focus, input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

@media (max-width: 767px) {
  body {
    padding-right: 0px;
    padding-left: 0px;
  }
  .logo {
    padding-left: 20px;
  }
  .launch {
    padding-left: 20px;
  }
  .bubble {
    margin-left: 0px;
  }
  .bubble {
    background: none;
    width: 100%;
    float: left;
    margin-top: -4px;
} 
.bubble h1 {
  padding-bottom: 12px;
  margin-right: 20px;
}
.skinny {
  visibility: visible;
  background: white;
  margin-top: -100px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 40px;
  margin-left: 20px;
}
.wide {
  visibility: hidden;
}

.container-fluid {
  padding: 0;
}
  
.container {
  width: auto;
}

.crew {
  display: block;
}

.SL {
  display: none;
}

.Renter {
  display: none;
}

.skinny-container {
  background-color: #ed5835;
  height:100%;
  float: left;
}

.about {
float: left;
width: 90%;
margin-top: 30px;
margin-left: 20px;
}

.red-mast {
  height: 100%;
  padding-bottom: 20px;
}

.emailbox {
  width: 100%;
}

.mailchimp {
  margin-left: 20px;
  margin-right: 40px;
}

.signupbutton {
  background: #ffd072;
  border-radius: 3px;
  border: 0px;
  height: 64px;
  width: 100%!important;
  margin-right: 0px!important;
  margin-top: 22px;
  margin-bottom: 60px;
  float: left;
  -webkit-box-shadow: 0px 5px 0px rgba(236, 183, 77, 1);
  -moz-box-shadow:    0px 5px 0px rgba(236, 183, 77, 1);
  box-shadow:         0px 5px 0px rgba(236, 183, 77, 1);
  text-shadow: 0px 1px 2px #b37e15;
  color: white;
  font-size: 22px;
  line-height: 64px;
  text-align: center;
}

.signupalign {
  margin-left: -20px;
}

.footer {
  margin-top: 40px;
  margin-left: 20px;
}

}

/* Smartphones (portrait and landscape) ----------- */
@media (max-width: 480px) {
  .bubble {
    margin-top: -4px!important;
  }

  /* Smartphones (portrait and landscape) ----------- */
@media (max-width: 465px) {
  .bubble {
    margin-top: -64px!important;
  }


@media (max-width: 335px) {
.bubble {
  margin-top: -94px!important;
}
@media (max-width: 320px) {
.bubble {
  margin-top: -94px!important;
}
