@media (max-width: 767px) {
  body {
    padding-right: 0px;
    padding-left: 0px;
  }
  .logo {
    padding-left: 20px;
  }
  .launch {
    padding-left: 20px;
  }
  .bubble {
    margin-left: 0px;
  }
  .bubble {
    background: none;
    width: 100%;
    float: left;
    margin-top: -4px;
} 
.bubble h1 {
  padding-bottom: 12px;
  margin-right: 20px;
}
.skinny {
  visibility: visible;
  background: white;
  margin-top: -100px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 40px;
  margin-left: 20px;
}
.wide {
  visibility: hidden;
}

.container-fluid {
  padding: 0;
}
  
.container {
  width: auto;
}

.crew {
  display: block;
}

.SL {
  display: none;
}

.Renter {
  display: none;
}

.skinny-container {
  background-color: #ed5835;
  height:100%;
  float: left;
}

.about {
float: left;
width: 90%;
margin-top: 30px;
margin-left: 20px;
}

.red-mast {
  height: 100%;
  padding-bottom: 20px;
}

.emailbox {
  width: 100%;
}

.mailchimp {
  margin-left: 20px;
  margin-right: 40px;
}

.signupbutton {
  width: 100%;
  float: left;
  padding-left: 20px;
  margin-bottom: 60px;
  margin-right: 0px!important;
}

.signupalign {
  margin-left: -20px;
}

.footer {
  margin-top: 40px;
  margin-left: 20px;
}

}

/* Smartphones (portrait and landscape) ----------- */
@media (max-width: 480px) {
  .bubble {
    margin-top: -4px!important;
  }

  /* Smartphones (portrait and landscape) ----------- */
@media (max-width: 465px) {
  .bubble {
    margin-top: -64px!important;
  }


@media (max-width: 335px) {
.bubble {
  margin-top: -94px!important;
}
@media (max-width: 320px) {
.bubble {
  margin-top: -94px!important;
}
